<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li {{#if home}}class="active" {{/if}}>
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li {{#if quote}}class="active" {{/if}}>
        <a href="/task2">2. Inspiring Quotes</a>
      </li>
      <li {{#if tv}}class="active" {{/if}}>
        <a href="/task3">3. TV Sales</a>
      </li>
    </ul>
  </div>
</nav>