<!--header-->
{{>header activeTab }}
<!--/header-->
<!--contain-->
<div class="container">
  <div class="row">
    <div class="col-md-2">
      {{>tv_category list=categories}}
    </div>
    <div class="col-md-10">
      <div id="products" class="row list-group">
        {{#each products}}
        {{>tv_product products[@index]}}
        {{/each}}
      </div>
    </div>
  </div>
</div>
<!--/contain-->
<!--footer-->
<footer class="container-fluid text-center">
  Copyright &copy; 2020 by MSSV - Ho ten
</footer>
<!--/footer-->